openVcd D:/CreateIC/01_CPIPC/riscv/RISCV_ENC_20220421/RISCV_P1_TOP_ENC_nocpu/debug/dbg_core_2_0.vcd
addSignal 0 -name LA_CORE_0 -alias LA_CORE_0 -color default -invert 0 -vcdsig LA_CORE_0
addSignal 1 -name clk -alias clk -color default -invert 0 -vcdsig clk
addBusWave 0 -name data_in_0[39] -alias data_in_0[39] -color default -invert 0 -vcdsig data_in_0[39]
addBusWave 1 -name data_in_0[38] -alias data_in_0[38] -color default -invert 0 -vcdsig data_in_0[38]
addBusWave 2 -name data_in_0[37] -alias data_in_0[37] -color default -invert 0 -vcdsig data_in_0[37]
addBusWave 3 -name data_in_0[36] -alias data_in_0[36] -color default -invert 0 -vcdsig data_in_0[36]
addBusWave 4 -name data_in_0[35] -alias data_in_0[35] -color default -invert 0 -vcdsig data_in_0[35]
addBusWave 5 -name data_in_0[34] -alias data_in_0[34] -color default -invert 0 -vcdsig data_in_0[34]
addBusWave 6 -name data_in_0[33] -alias data_in_0[33] -color default -invert 0 -vcdsig data_in_0[33]
addBusWave 7 -name data_in_0[32] -alias data_in_0[32] -color default -invert 0 -vcdsig data_in_0[32]
addBusWave 8 -name data_in_0[31] -alias data_in_0[31] -color default -invert 0 -vcdsig data_in_0[31]
addBusWave 9 -name data_in_0[30] -alias data_in_0[30] -color default -invert 0 -vcdsig data_in_0[30]
addBusWave 10 -name data_in_0[29] -alias data_in_0[29] -color default -invert 0 -vcdsig data_in_0[29]
addBusWave 11 -name data_in_0[28] -alias data_in_0[28] -color default -invert 0 -vcdsig data_in_0[28]
addBusWave 12 -name data_in_0[27] -alias data_in_0[27] -color default -invert 0 -vcdsig data_in_0[27]
addBusWave 13 -name data_in_0[26] -alias data_in_0[26] -color default -invert 0 -vcdsig data_in_0[26]
addBusWave 14 -name data_in_0[25] -alias data_in_0[25] -color default -invert 0 -vcdsig data_in_0[25]
addBusWave 15 -name data_in_0[24] -alias data_in_0[24] -color default -invert 0 -vcdsig data_in_0[24]
addBusWave 16 -name data_in_0[23] -alias data_in_0[23] -color default -invert 0 -vcdsig data_in_0[23]
addBusWave 17 -name data_in_0[22] -alias data_in_0[22] -color default -invert 0 -vcdsig data_in_0[22]
addBusWave 18 -name data_in_0[21] -alias data_in_0[21] -color default -invert 0 -vcdsig data_in_0[21]
addBusWave 19 -name data_in_0[20] -alias data_in_0[20] -color default -invert 0 -vcdsig data_in_0[20]
addBusWave 20 -name data_in_0[19] -alias data_in_0[19] -color default -invert 0 -vcdsig data_in_0[19]
addBusWave 21 -name data_in_0[18] -alias data_in_0[18] -color default -invert 0 -vcdsig data_in_0[18]
addBusWave 22 -name data_in_0[17] -alias data_in_0[17] -color default -invert 0 -vcdsig data_in_0[17]
addBusWave 23 -name data_in_0[16] -alias data_in_0[16] -color default -invert 0 -vcdsig data_in_0[16]
addBusWave 24 -name data_in_0[15] -alias data_in_0[15] -color default -invert 0 -vcdsig data_in_0[15]
addBusWave 25 -name data_in_0[14] -alias data_in_0[14] -color default -invert 0 -vcdsig data_in_0[14]
addBusWave 26 -name data_in_0[13] -alias data_in_0[13] -color default -invert 0 -vcdsig data_in_0[13]
addBusWave 27 -name data_in_0[12] -alias data_in_0[12] -color default -invert 0 -vcdsig data_in_0[12]
addBusWave 28 -name data_in_0[11] -alias data_in_0[11] -color default -invert 0 -vcdsig data_in_0[11]
addBusWave 29 -name data_in_0[10] -alias data_in_0[10] -color default -invert 0 -vcdsig data_in_0[10]
addBusWave 30 -name data_in_0[9] -alias data_in_0[9] -color default -invert 0 -vcdsig data_in_0[9]
addBusWave 31 -name data_in_0[8] -alias data_in_0[8] -color default -invert 0 -vcdsig data_in_0[8]
addBusWave 32 -name data_in_0[7] -alias data_in_0[7] -color default -invert 0 -vcdsig data_in_0[7]
addBusWave 33 -name data_in_0[6] -alias data_in_0[6] -color default -invert 0 -vcdsig data_in_0[6]
addBusWave 34 -name data_in_0[5] -alias data_in_0[5] -color default -invert 0 -vcdsig data_in_0[5]
addBusWave 35 -name data_in_0[4] -alias data_in_0[4] -color default -invert 0 -vcdsig data_in_0[4]
addBusWave 36 -name data_in_0[3] -alias data_in_0[3] -color default -invert 0 -vcdsig data_in_0[3]
addBusWave 37 -name data_in_0[2] -alias data_in_0[2] -color default -invert 0 -vcdsig data_in_0[2]
addBusWave 38 -name data_in_0[1] -alias data_in_0[1] -color default -invert 0 -vcdsig data_in_0[1]
addBusWave 39 -name data_in_0[0] -alias data_in_0[0] -color default -invert 0 -vcdsig data_in_0[0]
createBus 2 -name data_in_0 -alias data_in_0 -color default -invert 0 -reverse 0 -radix 16 -format 0 -collapse 1 -minIdx 0 -vcdsig {data_in_0[39],data_in_0[38],data_in_0[37],data_in_0[36],data_in_0[35],data_in_0[34],data_in_0[33],data_in_0[32],data_in_0[31],data_in_0[30],data_in_0[29],data_in_0[28],data_in_0[27],data_in_0[26],data_in_0[25],data_in_0[24],data_in_0[23],data_in_0[22],data_in_0[21],data_in_0[20],data_in_0[19],data_in_0[18],data_in_0[17],data_in_0[16],data_in_0[15],data_in_0[14],data_in_0[13],data_in_0[12],data_in_0[11],data_in_0[10],data_in_0[9],data_in_0[8],data_in_0[7],data_in_0[6],data_in_0[5],data_in_0[4],data_in_0[3],data_in_0[2],data_in_0[1],data_in_0[0]}
addBusWave 0 -name data_in_0[7] -alias dout[7] -color default -invert 0 -vcdsig data_in_0[7]
addBusWave 1 -name data_in_0[6] -alias dout[6] -color default -invert 0 -vcdsig data_in_0[6]
addBusWave 2 -name data_in_0[5] -alias dout[5] -color default -invert 0 -vcdsig data_in_0[5]
addBusWave 3 -name data_in_0[4] -alias dout[4] -color default -invert 0 -vcdsig data_in_0[4]
addBusWave 4 -name data_in_0[3] -alias dout[3] -color default -invert 0 -vcdsig data_in_0[3]
addBusWave 5 -name data_in_0[2] -alias dout[2] -color default -invert 0 -vcdsig data_in_0[2]
addBusWave 6 -name data_in_0[1] -alias dout[1] -color default -invert 0 -vcdsig data_in_0[1]
addBusWave 7 -name data_in_0[0] -alias dout[0] -color default -invert 0 -vcdsig data_in_0[0]
createBus 3 -name dout -alias dout -color default -invert 0 -reverse 0 -radix 10 -format 0 -collapse 1 -minIdx 0 -vcdsig {data_in_0[7],data_in_0[6],data_in_0[5],data_in_0[4],data_in_0[3],data_in_0[2],data_in_0[1],data_in_0[0]}
addBusWave 0 -name data_in_0[25] -alias addr[17] -color default -invert 0 -vcdsig data_in_0[25]
addBusWave 1 -name data_in_0[24] -alias addr[16] -color default -invert 0 -vcdsig data_in_0[24]
addBusWave 2 -name data_in_0[23] -alias addr[15] -color default -invert 0 -vcdsig data_in_0[23]
addBusWave 3 -name data_in_0[22] -alias addr[14] -color default -invert 0 -vcdsig data_in_0[22]
addBusWave 4 -name data_in_0[21] -alias addr[13] -color default -invert 0 -vcdsig data_in_0[21]
addBusWave 5 -name data_in_0[20] -alias addr[12] -color default -invert 0 -vcdsig data_in_0[20]
addBusWave 6 -name data_in_0[19] -alias addr[11] -color default -invert 0 -vcdsig data_in_0[19]
addBusWave 7 -name data_in_0[18] -alias addr[10] -color default -invert 0 -vcdsig data_in_0[18]
addBusWave 8 -name data_in_0[17] -alias addr[9] -color default -invert 0 -vcdsig data_in_0[17]
addBusWave 9 -name data_in_0[16] -alias addr[8] -color default -invert 0 -vcdsig data_in_0[16]
addBusWave 10 -name data_in_0[15] -alias addr[7] -color default -invert 0 -vcdsig data_in_0[15]
addBusWave 11 -name data_in_0[14] -alias addr[6] -color default -invert 0 -vcdsig data_in_0[14]
addBusWave 12 -name data_in_0[13] -alias addr[5] -color default -invert 0 -vcdsig data_in_0[13]
addBusWave 13 -name data_in_0[12] -alias addr[4] -color default -invert 0 -vcdsig data_in_0[12]
addBusWave 14 -name data_in_0[11] -alias addr[3] -color default -invert 0 -vcdsig data_in_0[11]
addBusWave 15 -name data_in_0[10] -alias addr[2] -color default -invert 0 -vcdsig data_in_0[10]
addBusWave 16 -name data_in_0[9] -alias addr[1] -color default -invert 0 -vcdsig data_in_0[9]
addBusWave 17 -name data_in_0[8] -alias addr[0] -color default -invert 0 -vcdsig data_in_0[8]
createBus 4 -name addr -alias addr -color default -invert 0 -reverse 0 -radix 16 -format 0 -collapse 1 -minIdx 0 -vcdsig {data_in_0[25],data_in_0[24],data_in_0[23],data_in_0[22],data_in_0[21],data_in_0[20],data_in_0[19],data_in_0[18],data_in_0[17],data_in_0[16],data_in_0[15],data_in_0[14],data_in_0[13],data_in_0[12],data_in_0[11],data_in_0[10],data_in_0[9],data_in_0[8]}
addSignal 5 -name data_in_0[39] -alias rst -color default -invert 0 -vcdsig data_in_0[39]
addSignal 6 -name data_in_0[38] -alias kp -color default -invert 0 -vcdsig data_in_0[38]
addSignal 7 -name data_in_0[37] -alias out_feat_en -color default -invert 0 -vcdsig data_in_0[37]
addSignal 8 -name data_in_0[36] -alias complete1 -color default -invert 0 -vcdsig data_in_0[36]
addSignal 9 -name data_in_0[35] -alias complete2 -color default -invert 0 -vcdsig data_in_0[35]
addSignal 10 -name data_in_0[34] -alias we_img -color default -invert 0 -vcdsig data_in_0[34]
addBusWave 0 -name data_in_0[33] -alias mag[7] -color default -invert 0 -vcdsig data_in_0[33]
addBusWave 1 -name data_in_0[32] -alias mag[6] -color default -invert 0 -vcdsig data_in_0[32]
addBusWave 2 -name data_in_0[31] -alias mag[5] -color default -invert 0 -vcdsig data_in_0[31]
addBusWave 3 -name data_in_0[30] -alias mag[4] -color default -invert 0 -vcdsig data_in_0[30]
addBusWave 4 -name data_in_0[29] -alias mag[3] -color default -invert 0 -vcdsig data_in_0[29]
addBusWave 5 -name data_in_0[28] -alias mag[2] -color default -invert 0 -vcdsig data_in_0[28]
addBusWave 6 -name data_in_0[27] -alias mag[1] -color default -invert 0 -vcdsig data_in_0[27]
addBusWave 7 -name data_in_0[26] -alias mag[0] -color default -invert 0 -vcdsig data_in_0[26]
createBus 11 -name mag -alias mag -color default -invert 0 -reverse 0 -radix 16 -format 0 -collapse 0 -minIdx 0 -vcdsig {data_in_0[33],data_in_0[32],data_in_0[31],data_in_0[30],data_in_0[29],data_in_0[28],data_in_0[27],data_in_0[26]}
updateWaveData
setZoomLevel -1
setCursorPos 560
setRefCursorPos 0
setVerticalViewPos 0
setHorizontalViewPos 159
